*{
    margin: 0;
    padding: 0;
}

.box{
    border: 2px solid black;
    margin: auto;
    width: 80vw;
    background-color: aqua;
    box-sizing: border-box;
}

.container{
    box-sizing: border-box;
        border: 2px solid black;
        margin: 23px auto;
        /* height: 80vh; */
        min-height: 80vh;
        width: 80vw; 
        font-size: 16px;
        background-color: aqua;
        box-sizing: border-box;
}

.container p{
    font-size: 1rem;
}

.mycont{
    box-sizing: border-box;
    border: 2px solid black;
    margin: 23px auto;
    color: black;
    font-size: 22px;
    width: 80vw;

}